In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import os

In [7]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("katehighnam/beth-dataset")

filename = "labelled_training_data.csv"

csv_path = os.path.join(path, filename)

data = pd.read_csv(csv_path)

pd.set_option('display.max_columns', None)

data.head()

,timestamp,processId,threadId,parentProcessId,userId,mountNamespace,processName,hostName,eventId,eventName,stackAddresses,argsNum,returnValue,args,sus,evil
0,1809.495787,381,7337,1,100,4026532231,close,ip-10-100-1-120,157,prctl,"[140662171848350, 11649800180280676]",5,0,"[{'name': 'option', 'type': 'int', 'value': 'P...",1,0
1,1809.495832,381,7337,1,100,4026532231,close,ip-10-100-1-120,3,close,[140662171777451],1,0,"[{'name': 'fd', 'type': 'int', 'value': 19}]",1,0
2,1809.495921,381,7337,1,100,4026532231,close,ip-10-100-1-120,1010,sched_process_exit,[],0,0,[],1,0
3,1894.139651,7347,7347,7341,0,4026531840,sh,ip-10-100-1-120,21,access,[],2,-2,"[{'name': 'pathname', 'type': 'const char*', '...",1,0
4,1894.142127,7347,7347,7341,0,4026531840,sh,ip-10-100-1-120,1005,security_file_open,"[139778263990104, 139778263906698]",4,0,"[{'name': 'pathname', 'type': 'const char*', '...",1,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 763144 entries, 0 to 763143
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   timestamp        763144 non-null  float64
 1   processId        763144 non-null  int64
 2   threadId         763144 non-null  int64
 3   parentProcessId  763144 non-null  int64
 4   userId           763144 non-null  int64
 5   mountNamespace   763144 non-null  int64
 6   processName      763144 non-null  object
 7   hostName         763144 non-null  object
 8   eventId          763144 non-null  int64
 9   eventName        763144 non-null  object
 10  stackAddresses   763144 non-null  object
 11  argsNum          763144 non-null  int64
 12  returnValue      763144 non-null  int64
 13  args             763144 non-null  object
 14  sus              763144 non-null  int64
 15  evil             763144 non-null  int64
dtypes: float64(1), int64(10), object(5)
memory usage: 93.2+ MB

In [9]:
nulls = data.isna().sum()
nulls

timestamp          0
processId          0
threadId           0
parentProcessId    0
userId             0
mountNamespace     0
processName        0
hostName           0
eventId            0
eventName          0
stackAddresses     0
argsNum            0
returnValue        0
args               0
sus                0
evil               0
dtype: int64

In [10]:
duplicates = data.duplicated()
duplicates

0         False
1         False
2         False
3         False
4         False
          ...
763139    False
763140    False
763141    False
763142    False
763143    False
Length: 763144, dtype: bool

In [11]:
uniques = data.nunique()
uniques

timestamp          762911
processId             545
threadId              588
parentProcessId       205
userId                  7
mountNamespace          6
processName            36
hostName                8
eventId                32
eventName              32
stackAddresses      97050
argsNum                 6
returnValue           524
args               214720
sus                     2
evil                    1
dtype: int64

In [12]:
isnull = data.isnull().sum()
isnull

timestamp          0
processId          0
threadId           0
parentProcessId    0
userId             0
mountNamespace     0
processName        0
hostName           0
eventId            0
eventName          0
stackAddresses     0
argsNum            0
returnValue        0
args               0
sus                0
evil               0
dtype: int64